{% load form_tags widget_tweaks %}

{% if form.non_field_errors %}
  <div>
    {% for error in form.non_field_errors %}
      <p>{{ error }}</p>
    {% endfor %}
  </div>
{% endif %}

{% for field in form %}
  <div>
    <div class="input-accounts-div">
      {{ field.label_tag }}
      {% render_field field class="accounts-input" %}
    </div>
    {% for error in field.errors %}
      <p class="fxs fc-green left">
        {{ error }}
      </p>
    {% endfor %}
    {% if field.help_text %}
      <p class="fxs fc-green left">
        {{ field.help_text }}
      </p>
    {% endif %}
  </div>
{% endfor %}